.title--color-light {
	color: #FFFFFF;
}

.title--color-dark {
	color: #212121;
}

.logo-span--color-light {
	color: #FFFFFF;
}

.logo-span--color-dark {
	color: #000000;
}

.header-communication--color {
	color: #757575;;
}

.foter-communication--color {
	color: rgba(255, 255, 255, 0.6);
}