:root {
	--main-title-color: #212121;
	--main-text-color: #757575;
	--main-contact-color: #757575;
	--main-tel-color: #757575;
	--main-logo-color: #2196f3;
	--main-color: #ffffff;
	--fill-color: #ffffff;
	--hover-focus-color: #2196f3;
	--hero-footer-background-color: #2f303a;
	--typical-lh: 1.14;
	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}