.portfolio {
	background-color: #f5f4fa;
	max-width: 1600px;
	margin: 0 auto;
}

.portfolio-title {
	color: var(--main-title-color);
	margin-bottom: 50px;
}

.portfolio-list {
	display: flex;
	column-gap: 30px;
}

.portfolio-item {
	width: calc((100% - 30px) / 4);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}

.portfolio-conect {
	padding-top: 30px;
	padding-bottom: 30px;
}

.portfolio-title-name {
	@include styles(500, 16, 1.18, 0.03);
	text-align: center;
	color: var(--main-title-color);
}

.portfolio-text {
	@include styles(null, 16, 1.18, 0.03);
	text-align: center;
	color: var(--main-text-color);
	margin-top: 10px;
	margin-bottom: 16px;
}

.portfolio-soc {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.portfolio-soc-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #ffffff;
	@include location;
	transition: background-color var(--transition);
	&:hover,
	&:focus {
		background-color: #2196f3;
	}
}

.portfolio-soc-icon {
	fill: #afb1b8;
	transition: fill var(--transition);
	.portfolio-soc-link:hover &,
	.portfolio-soc-link:focus & {
		fill: var(--fill-color);
	}
}
